<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsw.maper.StudentMapper">
    <resultMap id="studentResultMap" type="com.nsw.dirs.Student">
                <id column="id" jdbcType="INTEGER" property="id"/>
                <result column="name" jdbcType="VARCHAR" property="name"/>
                <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <select id="findSelect" resultType="com.nsw.dirs.Student" parameterType="string">
        select *from tptp where name like concat('%',#{keyword},'%')
    </select> n
</mapper>