.header{width: 100%;height: 70px;background-color: #F6821F;}
.container{
    margin: 0 auto;
    padding: 0;}
.container h1{float: left;margin-top: 10px;margin-left: 8.3%;}
.container h2{font-size: 18px;letter-spacing: 2px; color: #FFFFFF;line-height:26px;margin-top: 10px;float: left;margin-left: 16px;}
.container span{display: block;float: right;margin-top: 10px;font-size: 16px;color: #fff;margin-right: 11.4%;}
.name{font-size: 18px;color: #fff;margin-right: 2px;}
.ghzh{font-size: 16px;color: #FFFFFF;line-height: 28px;}
.backstage_main{
    margin: 0 auto;
    padding: 0;}
.backstage_main_left{width: 7.8%;margin-left: 8.3%; float: left;}
.backstage_main_left .nav{margin-top: 47px;}
.backstage_main_left .nav .wdgj{width: 100%;height: 70px;background:linear-gradient(180deg,rgba(255,198,89,1),rgba(255,155,81,1));border-radius:10px;font-size: 18px;color: #FFFFFF;line-height: 70px;text-align: center;margin-bottom: 20px;}
.main_nav{min-height: 300px;    border-radius: 7px;
    overflow: hidden;}
/* .main_nav :last-child {border-radius: 0px 0px 10px 10px;} */
.yj{background-color: #F6821F;height: 60px;text-align: center;line-height:60px;font-size: 18px;color: #FFFFFF;cursor: pointer;}
.zdh{background-color: #F5CCA8;height: 60px;text-align: center;line-height:60px;font-size: 18px;color: #FFFFFF;cursor: pointer;}
.yhlb{display: none;}
.ddlb{display: none;}
.zdgl{display: none;}
.tpzdh{display: none;}
.qxglzdh{display: none;}



.backstage_main_right{float: left;margin-left: 20px;width: 74.48%;    position: relative;}
.bread_tit{font-size: 14px;color: #999999;position: relative;margin-top: 24px;}
.bread_tit:after{content: "";width:2px;height:15px;background:rgba(246,130,31,1);position: absolute;left: -8px;top: 3px;}
.xzjs{width:105px;height:30px;background:rgba(246,130,31,1);box-shadow:0px 4px 10px 0px rgba(126,59,2,0.2);border-radius:2px;font-size: 15px;color: #FFFFFF;line-height: 30px;text-align: center;margin-top: 17px;float: left;margin-bottom: 30px;}
.jsmc{font-size: 15px;color: #F6821F;margin-left: 80px;float: left;line-height: 30px;margin-top: 17px;margin-bottom: 30px;}
.jsmc input{width:220px;height:28px;border:1px solid rgba(246,130,31,1);border-radius:2px;margin-left: 10px;}
.jsfz{font-size: 15px;color: #F6821F;margin-left: 50px;float: left;line-height: 30px;margin-top: 17px;margin-bottom: 30px;}
.jsfz input{width:220px;height:28px;border:1px solid rgba(246,130,31,1);border-radius:2px;margin-left: 10px;}
.sousuo1{width: 60px;height: 30px;background-color: #F6821F;float: right;margin-top: 17px;font-size: 15px;color: #FFFFFF;line-height: 30px;text-align: center;display: block;}
.row{width: 100%;clear: both;}
.row table{width: 100%; }
.row table tr{border: 1px solid rgba(241,174,117,1);}
.row thead{width: 100%; height: 40px;background-color: #F1AE75;}
.row thead th{width: 20%;text-align: center;line-height: 40px;color: #FFFFFF;font-size: 18px;font-weight: bold;}
.row tbody tr{border:1px solid rgba(241,174,117,1);width: 100%;height: 45px;}
.row tbody tr td{text-align: center;font-size: 16px;color: #000000;font-weight: bold;}
.row a{color: #000;}
.dy4 .row thead th{width: 16.66%;}
.dy7 .row thead th{width: 14.285%;}
.dy8 .row thead th{width: 14.285%;}
.dy9 .row thead th{width: 16.66%;}
.dy10 .row thead th{width: 25%;}
.xtsz:link{border-radius:0px;}
.main_nav .onn{color: #F6821F;font-size: 18px;}
.tuichu {color:red;}
.xzzd{width:105px;height:30px;background:rgba(246,130,31,1);box-shadow:0px 4px 10px 0px rgba(126,59,2,0.2);border-radius:2px;font-size: 15px;color: #FFFFFF;line-height: 30px;text-align: center;margin-top: 17px;float: left;margin-bottom: 30px;}
