<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改专辑</title>
</head>
<body>
    <form action="/update" method="get">
        序号：<br>
        <input type="text" name="id" id="id" value="" placeholder="序号"><br>
        专辑：<br>
        <input type="text" name="zhuanji" id="zhuanji" value="" placeholder="专辑"><br>
        <input type="submit" value="确定">
        <a href="/chaxun" style="margin-left: 80px;font-size: 18px;">返回</a>
    </form>
</body>
</html>