<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<div style="margin:0px auto; width:500px">

    <form action="updateUser" method="post">
        图片名称;<input name="imagename" th:value="${user.imagename}">
        图片大小:<input name="imagesize" th:value="${user.imagesize}">


        作者名字: <input name="name" th:value="${user.name}"/> <br/>
        <input name="id" type="hidden" th:value="${user.id}"/>

        <button type="submit">提交</button>
    </form>
</div>
</body>


</body>
</html>