<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <span>登录</span>

    <div data-validate="请输入用户名">
        用户名:<input type="text" name="username" placeholder="请输入用户名">
    </div>

    <div data-validate="请输入邮箱">
        <label>邮箱：</label>
        <input type="email" id="email" name="email" placeholder="请输入邮箱">
    </div>

    <div data-validate="请输入密码">
        密码:<input type="password" name="password" placeholder="请输入密码">
    </div>

    <div data-validate="请输入昵称">
        昵称:<input type="text" name="nickname" min="1" max="10" placeholder="请输入昵称">
    </div>

    <div>
        <button type="submit">注 册</button>
    </div>

    <div>
        <a href="/login.html">立即登陆</a>
    </div>
</form>
</body>
</html>